.albumDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 5.43rem;
}

.albumDetails-title{
  color: var(--white);
  font: var(--headline1);
}

.albumDetails-follower, .albumDetails-autor{
  color: var(--white);
}

.albumDetails-autor{
  margin: 0;
}

.albumDetails-follower{
  text-transform: uppercase;
}

.albumDetails-button button{
  margin-block-start: 1rem;
  font: var(--fontButton);
  color: var(--white);
  cursor: pointer;
}





