.filter{
  position: relative;
}

.filter .icon-search{
  position: absolute;
  color: var(--white);
  font-size: .9rem;
  left: .5rem;
  height: .9rem;
  top: calc(50% - .5rem);

}

.filter input{
  background: none;
  width: 100%;
  border:none;
  display: block;
  padding-block-end: .62rem;
  padding-block-start: .62rem;
  padding-inline-start:1.87rem;
  padding-inline-end: 1.87rem;
  color:var(--gray10);
  font: var(--fontButton);


}

.filter input::-webkit-input-placeholder{
   color:var(--gray10);
}

.filter input:focus{
  outline: 0;
  border: none;
}