@font-face{
  font-family: Avenir;
  src:url(../fonts/AvenirLTStd-Black.otf);
  font-style: normal;
  font-weight: bold;
}

@font-face{
  font-family: Avenir;
  src:url(../fonts/AvenirLTStd-Roman.otf);
  font-style: normal;
  font-weight: normal;
}
