@import './search.css';
@import './navigation.css';

.header{
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  backdrop-filter: blur(4px);

}




@supports not ( backdrop-filter: blur(1px)){
  .header{
    background: var(--gray50);
  }
}

