:root{
  --sidebarInlineSize: 15rem;
  --minInlineSize: 48rem;
  --bottomSize:  5.5rem;

}

.layout{
  block-size: 100vh;
  min-inline-size: var(--minInlineSize);
  display: grid;
  grid-template-columns: var(--sidebarInlineSize) 1fr;
  grid-template-rows: 1fr var(--bottomSize);
  grid-template-areas:
  "sidebar main"
  "play play";

}

.layout .sidebar{
  background: var(--gray60);
  grid-area: sidebar;
}

.layout .page{
  grid-area: main;
}

.layout footer{
  grid-area: play;
}

.is-hidden{
  opacity: 0;
}

.tablePlaylist, .tablePlayListB{
  overflow-x: auto;
}


