@import './logo.css';
@import './list.css';
@import './menu.css';
@import './ellipsis.css';

.sidebar{
  /* inline-size: 15rem; */
  background: var(--gray60);

  padding-block-start: 1.5rem;
  padding-block-end: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  inset-block-start: ;


}