.userLogin{
  inline-size: 11.25rem;
  border:0;
  display: flex;
  align-items: center;
  padding: .12rem;
  padding-inline-end: .81rem;
  background: var(--gray60);
  border-radius:1rem;
  gap: .25rem;
  cursor: pointer;
   color: var(--white);
}

.userLogin-username{
  font: var(--baseFont);

  margin: 0;
  inline-size: 7.62rem;
  text-align: initial;
}

.userLogin-icon i{
  font-size: .62rem;
}